div
{
    margin-bottom : 5px;
}

p
{
    color : darkred;
}

select#shape
{
    width : 100px;
}

input[type='text']
{
    width : 30px;

}

select#shapes-info,
canvas
{
    width : 700px;
}

canvas
{
    margin-top : 10px;
    border     : 1px solid black;
    height     : 500px;
}


